<%= render "/pages/navbar", plant: @plant, user: @user, address: @address %>

<h1>Edit Profile</h1>
<%= form_with model: @user, method: "patch", local: true do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :mobile %><br />
      <%= f.text_field :mobile %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
  <%= fields_for :address, @user.address do |address_f| %>
    <div class="field">
      <%= address_f.label :address %><br />
      <%= address_f.text_field :address %>
    </div>

    <div class="field">
      <%= address_f.label :suburb %><br />
      <%= address_f.text_field :suburb %>
    </div>

    <div class="field">
      <%= address_f.label :state %><br />
      <%= address_f.text_field :state %>
    </div>

    <div class="field">
      <%= address_f.label :postcode %><br />
      <%= address_f.text_field :postcode %>
    </div>
  <% end %>

    <div>
        <%= f.label :profile_pic %><br />
        <%= f.file_field :profile_pic, accept: "image/png,image/gif,image/jpeg,image/jpg" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

