<%= render "/pages/navbar", plant: @plant, user: @user, address: @address %>

<h1><%= My Profile %></h1>
<p><%= edit %></p>

<div><%= image_tag "profile-avatar.jpg", alt: "Generic avatar profile image" %></div>

<h2><%= @user.name %></h2>
<p>Email: <%= @user.email %></p>
<p>Location: <%=@user.address.suburb %><p>
<p>About Me: <%=@user.description %><p>

<h2>Listings</h2>
<p><%= link_to "Create New Listing", new_plant_path %><p>
<% end %>