<%= render "/pages/navbar", plant: @plant, user: @user, address: @address %>

<% if @id.to_i == current_user.id %>
<p>My Profile</p>
<%= link_to "edit", edit_user_path(@user) %>
<% end %>

<%= image_tag "profile-avatar.jpg", alt: "Generic avatar profile image" %>

<h2><%= @user.name %></h2>
<p>Email: <%= @user.email %></p>
<p>Location: <%=@user.address.suburb %><p>
<p>About Me: <%=@user.description %><p>

<% if @id.to_i == current_user.id %>
<h2>Listings</h2>
<p><%= link_to "Create New Listing", new_plant_path %><p>

<% end %>
