<div class = "user_profile">
    <div class="container-fluid"> 
        <% if @id.to_i == current_user.id %>
            <div class="card border-success profile">
                <% if @user.profile_pic.attached? %>
                    <%= image_tag @user.profile_pic, class: "card-img-top stretched-link image", alt: "Generic avatar profile image" %>
                <% else %>
                    <%= image_tag "profile-avatar", class: "card-img-top stretched-link image", alt: "Generic avatar profile image" %>
                <% end %>
                    <div class="card-body">
                        <h5 class="card-title"><%= @user.name %></h5>
                        <h6>
                            <%= link_to "edit", edit_user_path(@user) %>
                        </h6>
                        <p class="card-text"><%= @user.description %></p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Email: <%= @user.email %></li> 
                            <li class="list-group-item">Mobile: <%= @user.mobile %></li>
                                <% if @user.address != nil %>
                                    <li class="list-group-item">Address: <%=@user.address.address %></li>
                                    <li class="list-group-item">Suburb: <%=@user.address.suburb %></li>
                                    <li class="list-group-item">Postcode: <%=@user.address.postcode %></li>
                                    <li class="list-group-item">State: <%=@user.address.state %></li>
                                <% end %>
                        </ul>
                    </div>
            </div>
            <h5 class="title">Listings</h5>
            <h6 class = "create_listing"><%= link_to "Create New Listing", new_plant_path %></h6>
            <%= render "user_plants", user_plants: @user_plants, address: @address %>

        <% else %>
            <div class="card border-success profile">
            <% if @user.profile_pic.attached? %>
                <%= image_tag @user.profile_pic, class: "card-img-top stretched-link image", alt: "Generic avatar profile image" %>
            <% end %>
                <div class="card-body">
                    <h5 class="card-title"><%= @user.name %></h5>
                    <p class="card-text"><%= @user.description %></p>
                      <ul class="list-group list-group-flush">
                         <li class="list-group-item">Email: <%= @user.email %></li> 
                         <li class="list-group-item">Mobile: <%= @user.mobile %></li>
                            <% if @user.address != nil %>
                                <li class="list-group-item">Address: <%=@user.address.address %></li>
                                <li class="list-group-item">Suburb: <%=@user.address.suburb %></li>
                                <li class="list-group-item">Postcode: <%=@user.address.postcode %></li>
                                <li class="list-group-item">State: <%=@user.address.state %></li>
                             <% end %>
                      </ul>
                </div>
        <h5 class="title">Listings</h5>
        <%= render "user_plants", user_plants: @user_plants, address: @address %>
        <% end %>        
    </div>
</div>


