<%= render "/pages/navbar", plant: @plant, user: @user, address: @address %>

<% if @id == current_user.id %>
<h1><%= My Profile %></h1>
<p><%= edit %></p>
<% end %>

<p>Profile picture</p>
<h2><%= @user.name %></h2>
<p>Email: <%= @user.email %></p>
<p>Location: <%=@user.address.suburb %><p>
<p>About Me: <%=@user.description %><p>

<% if @id == current_user.id %>
<h2>My Listings</h2>
<p><%= link_to "Create New Listing", new_plant_path %><p>
<% end %>