<% if plant.errors.any? %>
    <% for error in plant.errors.full_messages %>
        <p><%= error %></p>
    <% end %>
<% end %>

<!-- REMOVE INSTANCE VARIABLE IF ADDING PARTIALS -->
<div class="create_form">
    <%= bootstrap_form_with model: plant, local: true do |form| %>
        <%= form.text_field :name %>
        <%= form.text_field :species %>
        <%= form.number_field :price, help: "Please enter price in AUD", min: 0 %>
        <%= form.select(:light, [["Low", "low"], ["Moderate", "moderate"], ["Bright", "bright"]]) %>
        <%= form.select(:size, [["Small", "small"], ["Medium", "medium"], ["Large", "large"]]) %>
        <%= form.text_field :pot %>
        <%= form.text_area :description %>
        <%= form.text_field :postage %>

        <%= form.file_field :image, accept: "image/png,image/gif,image/jpeg,image/jpg" %>

    <%= form.submit %>
<% end %>
</div>
