<% if plant.errors.any? %>
    <% for error in plant.errors.full_messages %>
        <p><%= error %></p>
    <% end %>
<% end %>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- REMOVE INSTANCE VARIABLE IF ADDING PARTIALS -->
    <%= form_with model: plant, local: true do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :species %>
        <%= form.text_field :species %>
    </div>

    <div>
        <%= form.label :price, "Price $AUD" %>
        <%= form.number_field :price, min: 0 %>
    </div>

    </div>
        <div>
            <%= form.label :light %>
            <%= form.select(:light, [["Low", "low"], ["Moderate", "moderate"], ["Bright", "bright"]]) %>
        </div>
        <div>
            <%= form.label :size %>
            <%= form.select(:size, [["Small", "small"], ["Medium", "medium"], ["Large", "large"]]) %>
        </div>
    </div>

    <div>
        <%= form.label :pot, "Pot Type" %>
        <%= form.text_field :pot %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :postage, "Delivery Method" %>
        <%= form.text_field :postage %>
    </div>

    <div>
        <%= form.label :image %>
        <%= form.file_field :image, accept: "image/png,image/gif,image/jpeg,image/jpg" %>
    </div>

    <%= form.submit %>
<% end %>
