<h1>Plant Listings</h1>

<% for plant in @plants %>
<div class="card">
        <%= image_tag plant.image if plant.image.attached? %>
        <h2><%= plant.name %></h2>
        <p><%= plant.price %></p>
        <p><%= plant.description %></p>
        <p><%= plant.light %></p>
        <p><%= plant.size %></p>
        <p><%= plant.pot %></p>
        <p><%= plant.postage %></p>
    <%= link_to "edit", edit_plant_path(plant.id) %>
</div>
<% end %>