
<div class="container-fluid"> 
        <div class="card border-success">
                <%= image_tag((@plant.image if @plant.image.attached?), class: "card-img-top stretched-link image", alt: "image of plant") %>
                <div class="card-body">
                    <button data-stripe="payment" class="btn btn-primary buy">Buy <%= number_to_currency((@plant.price)/100) %></button>
                    <h5 class="card-title"><%= link_to @plant.name, plant_path(@plant) %>
                    </h5>
                    <p class="card-text"><%= @plant.description %></p>
                      <ul class="list-group list-group-flush">
                         <li class="list-group-item">Seller: <%= link_to @plant.user.name, user_path(@plant.user.id) %></li> 
                         <li class="list-group-item">Location: <%= @plant.address.suburb if @plant.address %></li>
                         <li class="list-group-item">Light Requirements: <%= @plant.light.capitalize %></li>
                          <li class="list-group-item">Size: <%= @plant.size.capitalize %></li>
                          <li class="list-group-item">Pot: <%= @plant.pot %></li>
                          <li class="list-group-item">Delivery Method: <%= @plant.postage %></li>
                      </ul>
                </div>
        </div>
</div>  

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>